main {
  background: radial-gradient(60.95% 78.37% at 54.53% 42.49%, #1A0351 0%, #07071C 95.31%);
  height: 8000px;
}

header {
  max-width: 1585px;
  margin: 0 auto;
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.logo {
  height: clamp(50px, 4vw, 90px);
}

.banner {
  max-width: 1585px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.title-wrapper {
  position: relative;
  width: 50%;
}
.blur-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 159, 63, 0.38);
  filter: blur(400px);
}
.heading {
  font-size: clamp(30px, 4vw, 90px);
  max-width: 676px;
}
.para {
  font-size: clamp(22px, 3vw, 28px);
  color: white;
  margin-bottom: 70px;
  max-width: 580px;
}
.banner-background {
  position: absolute;
  z-index: 0;
  right: 0;
  height: clamp(300px, 70vw, 1390px);
  top: -40px;
}
.football {
  z-index: 1;
  position: relative;
  height: clamp(250px, 40vw, 876px);
  margin-right: -50px;
}

.play-section {
  text-align: center;
  margin-top: 250px;
}
.heading2 {
  font-size: clamp(30px, 3vw, 68px);
}


@media screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }
  .title-wrapper {
    width: auto;
    text-align: center;
  }
  .knowmore {
    margin: 0 auto;
  }
  .heading {
    text-align: center;
    margin-top: 60px;
  }
  .para {
    margin-bottom: 30px;
  }
  .banner-background {
    height: clamp(400px, 70vw, 1390px);
  }
  .image-wrapper {
    position: relative;
  }
  .football {
    height: clamp(250px, 50vw, 876px);
    margin-right: 0;
  }
}