main {
  background: radial-gradient(60.95% 78.37% at 54.53% 42.49%, #1A0351 0%, #07071C 95.31%);
  height: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  backdrop-filter: blur(20px);
  transition: transform 300ms;
}

header {
  max-width: 1585px;
  margin: 0 auto;
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.logo {
  height: clamp(50px, 4vw, 90px);
}

.container {
  max-width: 1594px;
}

.banner {
  max-width: 1585px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.title-wrapper {
  width: 50%;
  position: relative;
}

.title-wrapper:before {
  border-radius: 958px;
  background: rgba(0, 159, 63, 0.38);
  filter: blur(150px);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: auto;
  height: 400px;
}

.image-wrapper {
  width: 50%;
}

.blur-bg {
  width: 100%;
  height: 100%;
}

.heading {
  font-size: clamp(30px, 4vw, 90px);
  max-width: 676px;
}

.para {
  font-size: clamp(22px, 3vw, 28px);
  color: white;
  margin-bottom: 70px;
}

.banner-background {
  position: absolute;
  z-index: 0;
  right: 0;
  height: clamp(300px, 70vw, 1390px);
  top: -40px;
}

.football {
  z-index: 1;
  position: relative;
  height: clamp(250px, 40vw, 876px);
  margin-right: -50px;
  transition: transform 300ms;
}

.play-section {
  text-align: center;
  margin-top: 100px
}

.heading2 {
  font-size: clamp(30px, 3vw, 68px);
}

.image-desc {
  width: 90%;
  margin: 0 auto;
  margin-block: clamp(50px, 6vw, 90px);
  display: flex;
  align-items: center;
  gap: clamp(40px, 5vw, 100px);
}

.banner-wrapper {
  border: 1px solid rgba(107, 102, 246, 0.88);
  border-radius: clamp(10px, 3vw, 15px);
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 3vw, 20px);
  padding: 50px 20px;
  width: 50%;
}

.hero-card {
  position: relative;
  border-radius: clamp(15px, 3vw, 20px);
  overflow: hidden;
}

.hero-card img {
  border-radius: clamp(15px, 3vw, 20px);
  width: 100%;
  object-fit: cover;
}

.hero-card h4 {
  font-size: 16px;
  font-weight: 700;
}

.hero-card span {
  font-size: 14px;
  font-weight: 500;
}

.hero-card .card-title {
  height: 100px;
  position: absolute;
  bottom: 0;
  background: rgba(107, 102, 246, 0.88);
  width: 100%;
  border-radius: 20px 0px 20px 20px;
  padding: clamp(8px, 1.2vw, 14px);
}

.btn-yellow {
  font-size: clamp(8px, 3vw, 14px);
  font-weight: 700;
  background: linear-gradient(180deg, #FFB132 0%, #FB7309 100%);
  padding: 12px 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  border-radius: 15px 5px 0 0;
}

/* fans play area start */

.main-play-area h2 {
  text-align: center;
  padding-bottom: 180px;
  padding-top: 120px;
}

.fans-play-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 0 auto;
  row-gap: 160px;
}

.fans-play-content {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 80%;
  margin: 0 auto;
}

.play-inner-area {
  text-align: center;
  margin: 0 auto;
  height: 358px;
  width: 570px;
}

.play-inner-area.play-one,
.play-inner-area.play-four {
  background: radial-gradient(100% 100% at 50% 0%, rgba(0, 159, 63, 0.65) 0%, rgba(7, 7, 28, 0.10) 100%);
}

.play-inner-area.play-one .fans-play-img:hover {
  transform: scale(1.1);
  transition: transform 300ms;
}


.play-inner-area.play-two,
.play-inner-area.play-three {
  background: radial-gradient(104.95% 103.2% at 48.8% 9.39%, #5F1349 0%, rgba(18, 5, 57, 0.00) 100%);
}

.play-inner-area.play-one .fans-play-img img,
.play-inner-area.play-four .fans-play-img img {
  margin-top: -100px;
  padding-bottom: 50px;
}

.play-inner-area.play-two .fans-play-img img,
.play-inner-area.play-three .fans-play-img img {
  margin-top: -66px;
}

.play-inner-area.play-two .fans-play-img img {
  padding-bottom: 30px;
}

.main-play-area .btn {
  margin: 98px auto 0px;
}

.sub-card-bottom .status {
  display: none;
}

/* fans play area end */

/* Co Member css Start */

.co-member-one {
  border-radius: 20px;
  background: #0D0729;
  box-shadow: 0px 39px 60px 0px rgba(0, 0, 0, 0.50);
  padding: 34px;
  width: 375px;
  cursor: default;
}

.co-member-one:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}

.co-member-info h3 {
  color: #009F3F;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 5px;
}

.co-member-info span {
  color: #FFFAFA;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.co-member-info p {
  color: #968E8E;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
}

.meet-team-section h2,
.support-main-section h2 {
  text-align: center;
  padding: 100px 0px 50px 0px;
}

.support-image-area,
.fantacy-sport-section h2 {
  text-align: center;
}

.co-member-img {
  position: relative;
  padding: 17px 17px 12px 17px
}

.co-member-img img {
  width: 100%;
  height: 100%;
}

.co-member-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #009F3F, #8A01D7) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}

.co-member-info {
  padding-top: 22px;
  text-align: center;
}

.main-team-area {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.fantacy-sport-section {
  width: 90%;
  margin: 120px auto 0px;
  border-radius: 20px;
  background: #0D0729;
  box-shadow: 0px 39px 60px 0px rgba(0, 0, 0, 0.50);
  padding: 50px;
}

.fantacy-sport-section h2 {
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fantacy-sport-btn .btn {
  margin: 30px auto 0px;
}

.footer-main-section {
  width: 90%;
  margin: 120px auto 0px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 48px 0px;
  border: 2px solid #968E8E;
  border-right: 0;
  border-left: 0;
  margin-top: 36px;
}

.footer-icon-inner svg {
  width: 60px;
  height: 57px;
}

.footer-icon-inner svg {
  width: 100%;
  height: 100%;
}

.footer-copyright-text p {
  color: #968E8E;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 20px;
}

.footer-copyright-text {
  padding-top: 48px;
}

.footer-icon-inner svg:hover path {
  fill: #04D6BD;
}

.support-main-section.container {
  width: 90%;
  margin: 0 auto;
}



.container {
  max-width: 1594px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

.game-rooms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-left-side,
.game-right-side {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.content-wrapper .heading {
  font-size: 59px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-wrapper .sub-heading {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
  padding-bottom: 100px;
}

.game-card {
  border-radius: 14.374px;
  border: 1px solid rgba(107, 102, 246, 0.88);
  box-shadow: 0px 34.13721px 61.98598px 0px rgba(107, 102, 246, 0.28);
  padding: 30px;
  width: 100%;
}

.game-card .card-sub-card-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.card-heading {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-sub-heading {
  color: #009F3F;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sub-card {
  border-radius: 10px;
  background: #0D0729;
  padding: 27px 40px 20px 40px;
}

.sub-card .sub-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sub-card .sub-card-top .left-area {
  display: flex;
  align-items: center;


}

.user-room-badge {
  border-radius: 25.154px;
  background: linear-gradient(90deg, #7773E9 22.47%, #9DABF7 100%);
  padding: 4px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  height: fit-content;
}

.user-room-badge .user-profile {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
}

.user-room-badge .user-profile .user {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-room-badge .user-profile .user-2 {
  position: relative;
  left: -26px;
}

.user-room-badge .user-cnt {
  color: #040314;
  font-size: 16.17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 32px;
}

.sub-card .heading .title {
  color: #FFF;
  font-size: 17.967px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}

.sub-card .heading .status,
.sub-card .heading .status span {
  color: #009F3F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub-card .heading .status span {
  color: #fff;
}

.btn-second {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 40px;
  border-radius: 5px;
  background: linear-gradient(97deg, #009F3F -10.42%, #8A01D7 108.27%);
  box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.35);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.btn-second:has(.btn-border) {
  width: max-content;
  height: max-content;
  padding: 1px;
}

.btn-second .btn-border {
  cursor: pointer;
  background: #111238;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 6px 23px;
  font-size: 18px
}

.sub-card .saprator {
  background: rgba(107, 102, 246, 0.88);
  height: 1px;
  width: 100%;
  margin: 20px 0 20px 0;
}

.sub-card .closing-time,
.sub-card .closing-time span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.sub-card .sub-card-bottom {
  display: flex;
  justify-content: end;
}

.sub-card .closing-time span {
  color: #009F3F;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.section-seprater {
  height: 50px;
}

.game-reverse .game-right-side {
  padding-left: 76px;
}


.sub-card.version-2 .walet-tran {
  width: 60px;
  height: 60px;

}

.sub-card.version-2 .walet-tran img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-card.version-2 .heading .title {
  padding-bottom: 0px;
}

.sub-card.version-2 .heading span {
  font-size: 11.679px;
}

.sub-card.version-2 .closing-time,
.sub-card.version-2 .closing-time span {
  font-size: 20px;
  font-weight: 400;
}

.sub-card.version-2 .sub-card-bottom {
  justify-content: start;
}

.play-inner-area.play-one {
  position: relative;
}

.play-inner-area.play-one:before {
  border: 2px solid #fff;
  height: 820px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -90px;
  bottom: 0;
  border-right: 2px solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFF 46.87%, rgba(217, 217, 217, 0.00) 100%);
}

.play-inner-area.play-one:after {
  border: 2px solid #fff;
  width: 700px;
  content: "";
  position: absolute;
  top: -550px;
  left: 290px;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  border-left: 0;
  /* border-right: 0; */
  border-top: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFF 46.87%, rgba(217, 217, 217, 0.00) 100%);
  transform: rotate(90deg);
  flex-shrink: 0;
  height: 1200px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .play-inner-area.play-one .fans-play-img,
.play-inner-area.play-two .fans-play-img,
.play-inner-area.play-three .fans-play-img,
.play-inner-area.play-four .fans-play-img {
  transition: 500ms ease-in-out;
}

.play-inner-area.play-one .fans-play-img img:hover,
.play-inner-area.play-two .fans-play-img img:hover,
.play-inner-area.play-three .fans-play-img img:hover,
.play-inner-area.play-four .fans-play-img img:hover {
  transform: translateY(-10px);
  transition: 500ms ease-in-out;
} */


/* Co member css End */

.partner-with-us {
  max-width: 1230px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("src/assets/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  background-position: center;
}

.partner-with-us-content {
  padding: 70px 170px;
}

.partner-with-us .partner-heading .heading2 {
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.partner-with-us .partner-heading p.form-sub-headiing {
  color: #FFF;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.partner-with-us .partner-heading p.form-title {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 30px 0;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.form-field {
  background-color: transparent;
  border-right: none;
  border-top: none;
  border-left: none;
  border-width: 1px;
  width: 100%;
  color: #fff;
  padding: 10px 12px;
}

.form-field::placeholder {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-field:focus-visible {
  outline: none;
}

textarea.form-field {
  border-right: inset;
  border-width: 0.666667px;
  border-radius: 5px;
  border: 1px solid #968E8E;
}

.btn.submit {
  margin: 0 auto;
}

.main-play-area {
  padding-bottom: 120px;
}


@media screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }
  .title-wrapper {
    width: auto;
    text-align: center;
  }
  .knowmore {
    margin: 0 auto;
  }
  .heading {
    text-align: center;
    margin-top: 60px;
  }
  .para {
    margin-bottom: 30px;
  }
  .banner-background {
    height: clamp(400px, 70vw, 1390px);
    left: 50%;
    transform: translateX(-50%);
  }
  .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .football {
    height: clamp(250px, 50vw, 876px);
    margin-right: 0;
  }
}



/* responsive Start */

@media screen and (max-width:1440px) {
  .banner {
    max-height: 600px;
  }

  .hero-card .card-title {
    height: 90px;
  }

  .hero-card h4 {
    font-size: 14px;
  }

  .hero-card span,
  .btn-yellow {
    font-size: 12px;
  }

  .btn-yellow {
    padding: 8px 15px;
  }

  .play-inner-area {
    width: 500px;
  }

  .main-play-area h2 {
    padding-bottom: 140px;
  }

  .fans-play-content {
    font-size: 20px;
  }

  .fans-play-area {
    row-gap: 130px;
  }


  .game-card {
    padding: 25px;

  }

  .sub-card {
    padding: 20px 20px 20px 20px;
  }

  .play-inner-area.play-one:after {
    top: -478px;
    left: 200px;
    height: 1000px;
  }

  .play-inner-area.play-one:before {
    right: -60px;
  }

  .partner-with-us .partner-heading .heading2 {
    font-size: 60px;
  }

}

@media screen and (max-width: 1280px) {
  .banner-wrapper {
    width: 55%;
  }

  .play-inner-area {
    width: 450px;
  }

  .main-play-area h2 {
    padding-bottom: 120px;
  }

  .fantacy-sport-section h2 {
    font-size: 46px;
  }

  .play-inner-area.play-one:after {
    top: -320px;
    left: 60px;
    height: 690px;
  }

  .play-inner-area.play-one:before {
    right: -20px;
  }

  .partner-with-us {
    max-width: 100%;
    width: 90%;
  }
}

@media screen and (max-width: 1260px) {
  .game-card {
    padding: 20px;
  }

  .game-card .card-sub-card-area {
    padding-top: 20px;
  }

  .user-room-badge .user-profile {
    width: 32px;
    height: 32px;
  }

  .user-room-badge .user-profile .user-2 {
    left: -17px;
  }

  .user-room-badge .user-cnt {
    margin-left: 25px;
  }

  .btn-second .btn-border {
    padding: 6px 15px;
  }

  .sub-card {
    padding: 10px 10px 10px 10px;
  }

  .sub-card .heading .title {
    padding-bottom: 6px;
    font-size: 16px;
  }

  .sub-card.version-2 .closing-time,
  .sub-card.version-2 .closing-time span {
    font-size: 15px;
  }

  .content-wrapper .heading {
    font-size: 49px;
  }

}

@media screen and (max-width: 1024px) {
  .banner {
    max-height: 500px;
  }

  .image-desc {
    width: 90%;
  }

  .banner-wrapper {
    width: 70%;
    max-width: 100%;
  }

  .hero-card,
  .hero-card img {
    height: auto;
  }

  .hero-card .card-title {
    border-radius: 10px 0px 10px 10px;
  }

  .hero-card h4 {
    margin: 0;
  }

  .btn-yellow {
    transform-origin: right bottom;
    scale: 0.7;
  }

  .banner-wrapper {
    padding: 10px;
  }

  .play-inner-area {
    width: 400px;
  }

  .fans-play-content {
    font-size: 18px;
    width: 90%;
  }

  .fantacy-sport-section h2,
  .content-wrapper .heading {
    font-size: 40px;
  }

  .partner-with-us-content {
    padding: 50px 50px;
  }

  .partner-with-us .partner-heading .heading2 {
    font-size: 54px;
  }

  .partner-with-us .partner-heading p.form-sub-headiing {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {

  .image-desc,
  .banner,
  .main-team-area {
    flex-direction: column;
  }

  .banner {
    max-height: 100%;
    margin-top: 50px;
  }

  .banner-wrapper {
    max-width: 100%;
  }

  .heading {
    max-width: 100%;
    text-align: center;
  }

  .title-wrapper {
    width: 100%;
    text-align: center;
  }

  .title-wrapper:before {
    display: none;
  }

  .para {
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .btn {
    margin: 0 auto;
  }

  .image-wrapper,
  .banner-wrapper {
    width: 100%;
  }

  .hero-card .card-title {
    height: 90px;
  }

  .btn-yellow {
    scale: 1;
  }

  .fans-play-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-inner-area {
    width: 100%;
  }

  .main-play-area h2 {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  .fans-play-area {
    row-gap: 100px;
  }

  .main-play-area .btn {
    margin-top: 50px;
  }

  .main-team-area {
    column-gap: 0;
    row-gap: 20px;
    width: auto;
  }

  .co-member-one {
    width: 475px;
  }

  .fantacy-sport-section h2,
  .content-wrapper .heading {
    font-size: 36px;
  }

  .footer-copyright-text p {
    font-size: 18px;
  }


  .game-rooms {
    flex-direction: column-reverse;
  }

  .game-left-side,
  .game-right-side {
    width: 100%;
  }

  .game-left-side {
    padding-top: 20px;
  }

  .content-wrapper,
  .content-wrapper .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .content-wrapper .sub-heading {
    padding-bottom: 30px;
    padding-top: 15px;
  }

  .game-rooms.game-reverse {
    flex-direction: column;
  }

  .play-inner-area.play-one:before {
    display: none;
  }

  .play-inner-area.play-one:after {
    top: -240px;
    left: -120px;
    height: 400px;
  }

  .play-inner-area.play-three,
  .play-inner-area.play-two {
    position: relative;
  }

  .play-inner-area.play-three:after {
    border: 2px solid #fff;
    content: "";
    position: absolute;
    top: -110px;
    left: 0px;
    height: 400px;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    border-left: 0;
    /* border-right: 0; */
    border-top: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFF 46.87%, rgba(217, 217, 217, 0.00) 100%);
    transform: rotate(90deg);
    flex-shrink: 0;
  }

  .play-inner-area.play-two:after {
    border: 2px solid #fff;
    content: "";
    position: absolute;
    top: -120px;
    left: 0px;
    height: 400px;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    border-left: 0;
    /* border-right: 0; */
    border-top: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #FFF 46.87%, rgba(217, 217, 217, 0.00) 100%);
    transform: rotate(90deg);
    flex-shrink: 0;
  }
}

@media screen and (max-width:768px) {
  .game-reverse .game-right-side {
    padding-left: 0;
    padding-top: 20px;
  }

  .play-inner-area.play-one:after {
    top: -240px;
    left: -40px;
    height: 400px;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-6 {
    width: 100%;
  }

  .partner-with-us .partner-heading .heading2 {
    font-size: 38px;
  }

  .partner-with-us .partner-heading p.form-sub-headiing {
    font-size: 18px;
  }

}

@media screen and (max-width:575px) {

  .fans-play-area {
    row-gap: 100px;
  }

  .fans-play-content {
    width: 100%;
  }

  .play-inner-area.play-two .fans-play-img img,
  .play-inner-area.play-three .fans-play-img img {
    margin-top: -100px;
  }

  .co-member-one {
    width: 90%;
    padding: 20px 10px;
  }

  .fantacy-sport-section h2,
  .content-wrapper .heading {
    font-size: 28px;
  }

  .fantacy-sport-section {
    padding: 30px 15px;
  }

  .footer-icon-inner {
    width: 25px;
    height: 25px;
}

  .footer-icon-inner svg {
    width: 100%;
    height: 100%;
  }

  .footer-icon-list {
    padding: 15px 0px;
  }

  .footer-copyright-text p {
    font-size: 12px;
    padding-bottom: 15px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-wrapper .heading {
    font-size: 28px;

  }

  .content-wrapper .sub-heading {
    font-size: 20px;
    font-weight: 400;
  }

  .game-card {
    padding: 10px;
  }

  .user-room-badge .user-profile {
    width: 22px;
    height: 22px;
  }

  .user-room-badge .user-profile .user-2 {
    left: -17px;
  }

  .user-room-badge .user-cnt {
    margin-left: 12px;
    font-size: 10px;
  }

  .sub-card .heading .title {
    font-size: 12px;
  }

  .btn-second .btn-border {
    font-size: 10px;
    padding: 2px 3px;
  }

  .sub-card .sub-card-top .heading .status,
  .sub-card .sub-card-top .heading .status span {
    font-size: 10px;
  }

  .sub-card .saprator {
    margin: 8px 0 8px 0;
  }

  .sub-card .closing-time {
    font-size: 8px;
  }

  .sub-card .closing-time span {
    font-size: 10px;
  }

  .meet-team-section h2,
  .support-main-section h2 {
    padding-top: 70px;
  }

  .footer-copyright-text {
    padding-top: 20px;
  }

  .fantacy-sport-section {
    margin-top: 70px;
  }

  .footer-main-section {
    margin-top: 60px;
  }

  .section-seprater {
    display: none;
  }

  .main-play-area h2 {
    padding-top: 80px;
  }

  .play-inner-area.play-one:after {
    top: -185px;
    left: -200px;
    height: 300px;
  }

  .play-inner-area.play-three:after,
  .play-inner-area.play-two:after {
    top: 0;
    left: 0;
    height: 300px;
  }

  header.container {
    width: 100%;
  }

  .main-play-area .btn {
    margin-top: 10px;
  }

  .partner-with-us .partner-heading .heading2 {
    font-size: 32px;
  }

  .partner-with-us .partner-heading p.form-sub-headiing {
    font-size: 16px;
  }

  .partner-with-us-content {
    padding: 40px 20px;
  }

}

@media screen and (max-width:425px) {
  .hero-card .card-title {
    height: 90px;
  }

  .play-section {
    margin-top: 50px;
  }

  .play-inner-area.play-one .fans-play-img img,
  .play-inner-area.play-four .fans-play-img img,
  .play-inner-area.play-two .fans-play-img img,
  .play-inner-area.play-three .fans-play-img img {
    width: 90%;
  }

  header.container .btn {
    padding: 10px !important;
  }

  .hero-card h4 {
    font-size: 11px;
  }

}